@import url("https://use.typekit.net/icx2kzz.css");
html {
    scroll-behavior: smooth
}

body {
    font-size: 100%;
    margin: 0;
    overflow-x: hidden;
    background: #f1f1f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.title-font {
    font-family: "cafeteria";
    font-size: 5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-font {
    font-family: "montserrat";
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4;
}

header a {
    font-family: "cafeteria";
    font-size: 0.9em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #25385a79;
}

::-webkit-scrollbar-thumb {
    background: #1a273f;
}

::-webkit-scrollbar-thumb:hover {
    background: #121a2b;
}

ul {
    list-style: none;
    padding-left: 0;
}

.btn {
    background-color: #265A5A;
    border: none;
    color: #D5D96E;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 205px;
    align-self: center;
}

.btn:hover {
    background-color: #1C4146;
}

.btn a {
    text-decoration: none;
    color: #D5D96E;
    padding: 5px 5px;
    font-size: 20px;
}

.main-body {
    width: device-width;
    max-width: 90%;
    margin: auto;
    padding: 16px;
}

.main-section {
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.main-section h2 {
    font-family: "cafeteria";
    font-size: 3em;
    text-align: center;
}

.main-body p,
.main-section a {
    font-family: "montserrat";
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 10px;
    line-height: 1.5;
    text-align: center;
}

.main-image,
.main-text {
    display: flex;
    width: 50%;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.main-image {
    max-width: 400px;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-text-right {
    order: 2;
    padding-left: 100px;
    //text-align: right;
    //align-items: flex-end;
}

.main-text-left {
    order: -1;
    padding-right: 100px;
    //text-align: left;
    //align-items: flex-start;
}

#Ausmalbild {
    max-height: 50%;
    max-width: 50%;
    align-self: center;
}

@media only screen and (max-width: 800px) {
    .main-section {
        flex-flow: column wrap;
    }
    .main-image {
        order: -2;
        max-width: 300px;
    }
    .main-image,
    .main-text {
        width: 100%;
    }
    .main-text-right,
    .main-text-left {
        padding-left: 0;
        padding-right: 0;
    }
    #Ausmalbild {
        max-height: 80%;
        max-width: 80%;
    }
}

.justify-start {
    margin-right: auto;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    background-color: transparent;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-color: #265A5A;
}

.navigation a {
    color: #D5D96E;
    font-family: "cafeteria";
    font-size: 23px;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.navigation a:hover {
    color: #E5803D;
    background: #1C4146;
}

@media only screen and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 750px) {
    .navigation {
        flex-flow: column wrap;
        align-items: stretch;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .justify-start {
        margin-right: 0px;
    }
}

.container {
    flex: 1;
}

footer {
    background-color: #265A5A;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    font-family: "montserrat";
    font-size: 0.9em;
    text-decoration: none;
    color: #D5D96E;
    text-decoration: none;
    display: block;
}

footer a:hover {
    text-decoration: underline;
    color: #E5803D;
}

.ft-title {
    color: #E5803D;
    font-family: "cafeteria";
    font-size: 1.7rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ft-main-item {
    padding: 1.25rem;
    max-width: 200px;
    line-height: 2;
}

.ft-main-logo {
    padding: 0.6rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #1C4146;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

@media only screen and (max-width: 400px) {
    .ft-main {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1200px) {
    .ft-main {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 700px) {
    .ft-main-logo {
        order: -1;
    }
    .ft-main {
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
    }
}