@import url("https://use.typekit.net/icx2kzz.css");
html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  margin: 0;
  overflow-x: hidden;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-font,
.main-body h2 {
  font-family: "cafeteria";
  font-size: 4em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-font,
.main-body p {
  font-family: "montserrat";
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #25385a79;
}

::-webkit-scrollbar-thumb {
  background: #1a273f;
}

::-webkit-scrollbar-thumb:hover {
  background: #121a2b;
}

.btn {
  background-color: #265A5A;
  border: none;
  color: #D5D96E;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: #1C4146;
}

.btn a {
  text-decoration: none;
  color: #D5D96E;
  padding: 5px 5px;
  font-size: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.main-body {
  width: device-width;
  max-width: 900px;
  margin: auto;
  padding: 16px;
}

.header {
  background: url("../img/banner_high-res.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vmin;
  max-width: 100%;
  position: relative;
}

.header-box {
  min-width: 100%;
  height: calc(100vh - 57px);
  line-height: 1;
  padding: 15px 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-img {
  width: 100%;
  height: calc(100vh - 57px);
}

header a {
  font-family: "cafeteria";
  font-size: 0.9em;
}

@media only screen and (max-width: 1000px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header-img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header-img {
    width: 100%;
    height: 100%;
  }
}

.justify-start {
  margin-right: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: #265A5A;
}

.navigation a {
  color: #D5D96E;
  font-size: large;
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.navigation a:hover {
  color: #E5803D;
  background: #1C4146;
}

@media only screen and (max-width: 800px) {
  .navigation {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .justify-start {
    margin-right: 0px;
  }
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  background-color: #265A5A;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  font-family: "montserrat";
  font-size: 0.9em;
  text-decoration: none;
  color: #D5D96E;
  text-decoration: none;
  display: block;
}

footer a:hover {
  text-decoration: underline;
  color: #E5803D;
}

.ft-title {
  color: #E5803D;
  font-family: "cafeteria";
  font-size: 1.5rem;
  padding-bottom: 0.625rem;
}

.ft-main {
  padding: 1.25rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 200px;
}

.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.25rem;
}

.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #1C4146;
}

.ft-legal-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 400px) {
  .ft-main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ft-social-list li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .ft-main {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ft-social-list li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=index-style.css.map */